* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: rgb(0, 0, 0);
  color: white;
  margin: 30px;
}
.title {
  font-size: 36px;
  margin-bottom: 24px;
}
.play-button {
  background-color: transparent;
  border: 3px solid white;
  width: 120px;
  height: 120px;
  border-radius: 60px;
  margin-right: 12px;
  cursor: pointer;
  transition: opacity 0.3s;
}
.play-button:hover {
  opacity: 0.9;
}
.play-button:active {
  opacity: 0.5;
}
.icons {
  height: 75px;
}
.result {
  font-size: 24px;
  margin-top: 30px;
  margin-bottom: 30px;
}
.moves {
  margin-bottom: 30px;
  font-size: 21px;
}
.script-moves {
  width: 48px;
}
.score {
  margin-bottom: 30px;
  font-size: 21px;
}
.reset-button, .autoplay-button {
  padding: 6px;
  margin-right: 6px;
  font-size: 18px;
  font-weight: 500;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: opacity 0.15s;
}
.reset-button:hover, .autoplay-button:hover {
  opacity: 0.8;
}
.reset-button:active, .autoplay-button:active {
  opacity: 0.4;
}
